<?xml version="1.0" encoding="utf-8"?>
<!--<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PBL3_qnv.Properties.Settings.ConnectionString" connectionString="Data Source=NGANGUNGO;Initial Catalog=PBL3_qnv;Integrated Security=True" providerName="System.Data.SqlClient" /><add name="QLCH_3Entities" connectionString="metadata=res://*/DAL.Model1_1.csdl|res://*/DAL.Model1_1.ssdl|res://*/DAL.Model1_1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NGANGUNGO;initial catalog=QLCH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="QLCH_3Entities" connectionString="metadata=res://*/DAL.Model1.csdl|res://*/DAL.Model1.ssdl|res://*/DAL.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NGANGUNGO;initial catalog=QLCH_3;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>-->

<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="PBL3_qnv.Properties.Settings.ConnectionString" connectionString="Data Source=NGANGUNGO;Initial Catalog=PBL3_qnv;Integrated Security=True" providerName="System.Data.SqlClient" />
		<!-- Giữ lại một mục QLCH_3Entities duy nhất -->
		<!-- Hoặc sử dụng mục này nếu nó phù hợp hơn với dự án của bạn -->
		<add name="QLCH_3Entities" connectionString="metadata=res://*/DAL.Model1.csdl|res://*/DAL.Model1.ssdl|res://*/DAL.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NGANGUNGO;initial catalog=QLCH_3;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>
